<% layout('layouts/boilerplate')-%>
<body>
    <div class="row mt-4"></div>
    <div class="col-8 offset-2">

    <div class="heading mt-3">
    <h1>Create a New Listing</h1>
    </div>
    <form method="POST" action="/listings">
      <div class="mb-3 mt-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Enter a catchy Title"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
      <label for="Discription" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        class="form-control"
      ></textarea>
      </div>

      <div class="mb-3">
        <label for="Image" class="form-label">Image Link</label>
        <input
        name="listing[img-url]"
        placeholder="Enter Image URl"
        type="text"
        class="form-control"
      />
      </div>

      <div class="row">
      <div class="mb-3 col-md-4">
      <label for="Price" class="form-label">Price</label>
      <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" />
      </div>

      <div class="mb-3 col-md-8"> 
      <label for="Country" class="form-label">Country</label>
      <input
        name="listing[country]"
        placeholder="Enter Country Name"
        type="text"
        class="form-control" 
      />
      </div>
      </div>

      <div class="mb-3">
      <label for="Location" class="form-label">Location</label>
      <input
        name="listing[location]"
        placeholder="Enter Location"
        type="text"
        class="form-control" 
      />
      </div>

      <div class="mb-3">
      <button class="btn btn-dark add-btn mt-4">Add</button>
      </div>
    </form>
    </div>
    </div>
</body>